

<header>
    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a href="/" class="{{#if home}} active {{/if}} nav-link">Home</a>
        </li>
        <li class="nav-item">
        <a href="/saved" class="{{#if saved}} active {{/if}} nav-link">Saved Articles</a>
        </li>
    </ul>
</header>

