<div class="row">
    <div class="col-md-12">
        <h3>{{article.title}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="/note/{{article._id}}" method="POST">
        <h5>Leave a Note</h5>
        <div class="row">
            <div class="input-field">
                <input type="text" placeholder="Your note goes here">
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="submit" value="submit">
        </div>

        </form>
    </div>
    <div class="row">
        <h5>Notes:</h5>
        {{#each article.note}}
        {{/each}}
</div>


