
<style>
    .row {
        text-align: center;
    }

    .nav {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .article-title{
        font-size: 30px;
    }
</style>

{{> header home=true saved=false}}
<div class="container">
<div class="row">
    <div class="col-md-12">
<button class="scrape-btn" style="text-align: center">Scrape</button>
</div>
</div>


 <hr/>

{{#each articles}}
    {{#unless saved}}
        <div class="scrape-div" style="border-bottom: 1px; margin-style: solid">
            <p class="article-title">{{title}}</p>
            <a href="{{link}}">Visit Page</a>
            <br>
            <br>
            <button class="save-btn" data-aid="{{_id}}" style="margin-bottom: 5px;">Save</button>
             <hr/>
    {{/unless}}
{{/each}}



{{#unless articles}}
    <h3> No Articles to display yet</h3>
{{/unless}}

</div>

<script>

    $(".scrape-btn").on("click", function () {
        $.get("/scrape", function (response) {
            console.log(response)
            console.log("salad")
            window.location.reload();
        })
    });

    $(".save-btn").on("click", function () {
        var articleId = $(this).data("aid");

        var updateArticle = {
            saved: true
        }
        var self = $(this)
        $.ajax({
            url: "/articles/" + articleId,
            type: "PUT",
            data: updateArticle,
            success: function (result) {
                if (result) {
                var parentElm = self.parent(".scrape-div");
                parentElm.remove();
                }
            }
        })


    })
    </script>