<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="scrape-btn">Scrape</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="scrape-div">
                {{#each article}}
                {{/each}}
            </div>
        </div>
    </div>
</div>